@import url("https://fonts.googleapis.com/css?family=Cantata+One|Raleway&display=swap");

body {
  text-align: center;
  background-image: url("https://pixabay.com/get/57e0d5464e55aa14f6d1867dda6d49214b6ac3e45656754b702f7ed092/money-1005476_1920.jpg");
  background-size: 1450px;
  background-repeat: repeat, no-repeat;
  color: #0d0130;
  font-family: "Raleway", sans-serif;
}

header {
  height: 4.5rem;
  font-size: 20px;
}

.headerLink {
  text-decoration: none;
  color: #0d0130;
}

.footerLink {
  text-decoration: none;
  color: #fffee7;
}

.facts {
  text-align: center;
  max-width: 600px;
  max-height: 400px;
  font-size: 20px;
  padding: 40px;
  margin: auto;
  text-align: justify;
  background-color: #fffee7;
  border-radius: 10px;
  border: 8px solid #0d0130;
}

.factList {
  list-style-type: none;
}

li {
  margin: 15px 0;
}

button {
  font-size: 18px;
  background-color: #0d0130;
  color: #fffee7;
  padding: 10px;
  border-radius: 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  font-size: 20px;
}

.sketch {
  max-width: 450px;
  max-height: 450px;
  border: 8px solid #0d0130;
  border-radius: 10px;
}

.rules {
  width: 450px;
  height: 400px;
  font-size: 20px;
  padding: 20px;
  margin-left: 50px;
  text-align: justify;
  background-color: #fffee7;
  border-radius: 10px;
  border: 8px solid #0d0130;
}

footer {
  background-color: #0d0130;
  color: #fffee7;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
