body {
  text-align: center;
  background-image: url("https://pixabay.com/get/57e0d5464e55aa14f6d1867dda6d49214b6ac3e45656754b702f7ed092/money-1005476_1920.jpg");
  background-size: 1450px;
  background-repeat: repeat, no-repeat;
  color: #0d0130;
}

.link {
  color: #0d0130;
  margin: 10px;
}

header {
  height: 4.5rem; /* Footer height */
}

.content {
  display: flex;

  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  padding: 50px;
  font-size: 20px;
  /* background-color: #2d8177; */
}

.rules {
  max-width: 400px;
  font-size: 20px;
  padding-left: 50px;
  text-align: justify;
}
footer {
  background-color: #0d0130;
  color: #2d8177;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.5rem; /* Footer height */
  display: flex;
  align-items: center;
  justify-content: center;
}
